*.[ao]
core.*
mont_client
mont_server
monitor/mont_cust
monitor/xmlparser/libxmlparse.a
bin/libxmlparse.a
monitor/common/log.o
monitor/common/mont_cust.o



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Django stuff:
*.log
*.pot
myMonitor/static
