{% extends 'base.html' %}
{% block title %}
    Configuration Details - {{ block.super }}
{% endblock title %}
<button type="button" class="btn btn-success">Edit</button>

{% block content %}
    <h1>Protocol Configuration Details</h1>
    <!-- here’s the variable we are passing in -->
	<p> 
		Customer: ID:{{ configs.custID }}, Server:{{ configs.serverIP }}
		<a class="btn btn-success" href="{% url 'edit_cfg' slug=configs.slug %}">Edit</a>
		<h3>Run Tests:</h3>
		<a class="btn btn-primary" href="{% url 'run_cfg' slug=configs.slug proto="bgp"%}">BGP</a>
		<a class="btn btn-primary" href="{% url 'run_cfg' slug=configs.slug proto="ssl"%}">SSL</a>
		<a class="btn btn-primary" href="{% url 'run_cfg' slug=configs.slug proto="ssl_perf"%}">SSL_PERF</a>
		<a class="btn btn-primary" href="{% url 'run_cfg' slug=configs.slug proto="http_perf"%}">HTTP_PERF</a>
	</p>
		{% if running == True %}
			Running....
		{% else %}
			Stopped	
		{% endif %}
{% endblock content %}

